{% extends 'base.html' %}
{% block title %}Удалить категорию{% endblock %}

{% block content %}
<h2>Удаление категории</h2>

<p>
  Вы действительно хотите удалить категорию <strong>{{ category.name }}</strong>?
</p>

{% if category.operations %}
  <p>В этой категории есть операции, удалить категорию невозможно</p>
    <a href="{{ url_for('categories.list_categories') }}" class="btn btn-secondary">Отмена</a>
  </form>
{% else %}
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="{{ url_for('categories.list_categories') }}" class="btn btn-secondary">Отмена</a>
  </form>
{% endif %}
{% endblock %}
