
{% extends 'base.html' %}

{% block title %}Admin page{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Admin page</h2>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'users' %}active{% endif %}" href="{{ url_for('admin.user_list') }}">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'test' %}active{% endif %}" href="{{ url_for('admin.test_data') }}">Test data</a>
        </li>
    </ul>
    {% block admin_content %}{% endblock %}
</div>
{% endblock %}
